.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}



.normalb {
    background-color: rgba(255, 255, 255, 0.2);
}

.grassb {
    background-color: rgba(255, 255, 255, 0.2);
}

.fireb {
    background-color: rgba(255, 255, 255, 0.2);
}

.waterb {
    background-color: rgba(255, 255, 255, 0.2);
}

.electricb {
    background-color: rgba(255, 255, 255, 0.2);
}

.iceb {
    background-color: rgba(255, 255, 255, 0.2);
}

.groundb {
    background-color: rgba(255, 255, 255, 0.2);
}

.flyingb {
    background-color: rgba(255, 255, 255, 0.2);
}

.poisonb {
    background-color: rgba(255, 255, 255, 0.2);
}

.fightingb {
    background-color: rgba(255, 255, 255, 0.2);
}

.psychicb {
    background-color: rgba(255, 255, 255, 0.2);
}

.darkb {
    background-color: rgba(255, 255, 255, 0.2);
}

.rockb {
    background-color: rgba(255, 255, 255, 0.2);
}

.bugb {
    background-color: rgba(255, 255, 255, 0.2);
}

.ghostb {
    background-color: rgba(255, 255, 255, 0.2);
}

.steelb {
    background-color: rgba(255, 255, 255, 0.2);
}

.dragonb {
    background-color: rgba(255, 255, 255, 0.2);
}

.fairyb {
    background-color: rgba(255, 255, 255, 0.2);
}

.pokemon {
    margin: 1rem;
    padding: 0.80rem 0.90rem;
    border-radius: 1rem;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: 0.25;
    text-transform: capitalize;
}

.pokemon .number {
    color: #000;
    opacity: 0.2;
    text-align: right;
    font-size: 0.800rem;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    margin-top: .25rem;
}

.pokemon .detail .types .type {
    color: #FFF;
    padding: .25rem 1rem;
    font-size: 0.650rem;
    margin: 0.25rem 0;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6C79DB;
    border: none;
    border-radius: 1rem;
    color: #FFF;
    padding: .25rem 1rem;
}

@media screen and (min-width: 390px) {
    .pokemons {
            grid-template-columns: 1fr 1fr;
    }
  }

@media screen and (min-width: 576px) {
    .pokemons {
            grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (min-width: 992px) {
    .pokemons {
            grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
